h2 {
    color: rgb(131, 131, 153);
    background-color: rgb(218, 180, 180);
}

.headin{

    color: rgb(151, 99, 99);
    background-color: rgb(171, 204, 121);

}

#mybut{
    background-color: brown;
}